.navbar {

display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
  background-color:initial;
}

.alex{
 position: relative;
 right:20px
}

.phone{
  position: relative;
  left: 40px;
}
